<div id="user-sidebar">
  <div class="profile">
    <h2><%= @user.username %>'s Profile</h2>

  <p><strong>Member Since:</strong> <%= @user.created_at.strftime("%B %Y") %></p>
  </div>

<div id="friends-block">
  <h3>Friends</h3>
  <ul>
    <% for friendship in @user.friendships %>
      <li>
        <p><%=h friendship.friend.username %></p>
        <div class="unfriend">(<%= link_to "remove", friendship, :method => :delete %>)</div>
      </li>
    <% end %>
  </ul>

  <p class="find-friends"><%= link_to "Find Friends", users_path %></p>

  <h3>Friends Of</h3>
    <ul>
      <% for user in @user.inverse_friends %>
        <li><%=h user.username %></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="comic-library">
  <h2>Comic Library</h2>
  <% @libraries.each do |l| %>
  <p><%= l.name %>:</p>
  <p><%= l.comic_id %></p>
  <% end %>

</div>
