<div id="user-show">
  <div id="user-sidebar">
    <div class="profile">
      <h2><%= @user.username %>'s Profile</h2>

    <p><strong>Member Since:</strong> <%= @user.created_at.strftime("%B %Y") %></p>
    </div>

  <div id="follows-block">
    <h3>Following</h3>
    <ul>
      <% for follow in @user.follows %>
        <li>
          <p><%=h follow.followed.username %></p>
          <div class="unfollow">(<%= link_to "remove", follow, :method => :delete %>)</div>
        </li>
      <% end %>
    </ul>

    <div class="find-users"><%= link_to "Find Users to Follow", users_path %></div>

    <h3>Followed By</h3>
      <ul>
        <% for user in @user.followers %>
          <li><%=h user.username %></li>
        <% end %>
      </ul>
      <% if current_user != @user %>
      <div class="find-users"><%= link_to "Follow This User", follows_path(:followed_id => @user), :method => :post %></div>
      <% end %>
    </div>
  </div>

  <div id="comic-library">
    <h3>Your Collection</h2>
      <table>
        <th></th>
        <th>Series</th>
        <th>Issue</th>
        <th>Info</th>
        <th>Loans</th>
        <!-- Would move the following logic to a model if it wasn't so dependent on the if statement -->
        <% @comics_sorted.each do |c| %>
          <!-- finding the individual 'ownerships' of each of these comics -->
          <% ownership = c.ownerships.find_by(user_id: params[:id]) %>
          <tr>
            <td>
              <a href="/comics/<%= c.id %>"><img src="<%= c.cover_img_url%>" alt="cover image"></a>
            </td>
            <td class="comic-series-td">
              <strong><%= c.series %> (<%= c.year %>)</strong>
              <% if ownership.favorite == true %>
                <span class="comic-fav"> f </span>
              <% end %>
            </td>
            <td class="comic-issue-td">
              #<%= c.number %> <%= c.title %>
            </td>
            <td class="comic-notes-td">
              <% if ownership.location.length > 0 %>
                <p class="notes">Location: </p><p class="info"><%= ownership.location %></p>
              <% end %>
              <% if ownership.note.length > 0 %>
                <p class="notes">Notes: </p><p class="info"><%#= ownership.note %></p>
              <% end %>
              <p><small><a href="/users/<%= current_user.id %>/ownerships/<%= ownership.id %>/edit">(Edit Comic Info)</a></small></p>
            </td>
            <td class="comic-links">
              <% loans = Loan.where(ownership_id: ownership.id) %>
              <% out_loan = loans.where(out: true) %>
              <% @loan = [] %>
              <% loans.each do |l| %>
              <% @loaned_out = loans.where(out: true) %>
                <% if l.out == true %>
                  <% @loan.push(true) %>

                  <%# lendee = User.where(id: out_loan.first.lendee_id) %>
                  <!-- <p>Loaned to: <%#= @lendee.first.username %></p> -->
                  <!-- <p>Loaned Out</p> -->
                  <!-- <p><a href="/comics/<%= ownership.id %>/loans/new">Loan This</a></p> -->
                  <% else %>
                  <% @loan.push(false) %>
                <% end %>
              <% end %>
              <% if @loan.include?(true) %>
                <p><strong>Out</strong></p>

                <p>(<%= link_to "Update Loan", edit_loan_path(@loaned_out.first.id)%>)</p>
                <!-- <p>(<a class="comic-links" href="/loans/<%#= @loan.id %>/edit">Update Loan</a>)</p> -->

              <% else %>
                <p><a href="/comics/<%= ownership.id %>/loans/new">Loan This</a></p>
              <% end %>
              <%= link_to "Loan History", ownership_loans_path(ownership.id) %>
            </td>
          </tr>
        <% end %>
      </table>
    <div class="add-comic">
      <p class="btn"><%= link_to "Add Comic", new_comic_path %></p>
      <!-- <p class="btn"><%#= link_to "Find Comic", comics_path %></p> -->
    </div>

    <!-- <div class="loans">
      <h3>On Loan:</h3>
      <%# @comics_sorted.each do |c| %>
       would have also put this logic somewhere else if I could have
        <%# ownership = c.ownerships.find_by(user_id: params[:id]) %>
        <%#= ownership %>
        <%# @loans = Loan.where(ownership_id: ownership.id) %>
        <%# @loans.each do |l| %>
          <%# @lendee = User.where(id: l.lendee_id) %>
          <table class="loan-library">
            <th>Comic</th>
            <th>Loaned to</th>
            <th>Date Out</th>
            <th>Date Returned</th>
            <%# if l.out == true %>
              <tr>
                <td><%#= l.ownership.comic.series %> (<%#= l.ownership.comic.year %>) #<%#= l.ownership.comic.number %></td>
                <td><%#= @lendee.first.username %></td>
                <td><%#= l.created_at.to_date %></td>
                <td>Still Out (<a class="comic-links" href="/loans/<%#= l.id %>/edit">Update Loan</a>)</td>
              </tr>
              <%# else %>
              <tr>
                <td><%#= l.ownership.comic.series %> (<%#= l.ownership.comic.year %>) #<%#= l.ownership.comic.number %></td>
                <td><%#= @lendee.first.username %></td>
                <td><%#= l.created_at.to_date %></td>
                <td><%#= l.updated_at.to_date %></td>
              </tr>
              <%# end %>
            </table>
        <%# end %>
      <%# end %>
    </div>-->
  </div>



</div>
<!-- script I ended up not using -->
 <!--  <script>
//   $(document).ready({
//     UserComicsView.lookupComic();
//   })
// </#script> -->
