<div id="user-show">
  <div id="user-sidebar">
    <div class="profile">
      <h2><%= @user.username %>'s Profile</h2>

    <p><strong>Member Since:</strong> <%= @user.created_at.strftime("%B %Y") %></p>
    </div>

  <div id="follows-block">
    <h3>Following</h3>
    <ul>
      <% for follow in @user.follows %>
        <li>
          <p><%=h follow.followed.username %></p>
          <div class="unfollow">(<%= link_to "remove", follow, :method => :delete %>)</div>
        </li>
      <% end %>
    </ul>

    <div class="find-users"><%= link_to "Find Users to Follow", users_path %></div>

    <h3>Followed By</h3>
      <ul>
        <% for user in @user.followers %>
          <li><%=h user.username %></li>
        <% end %>
      </ul>
      <% if current_user != @user %>
      <div class="find-users"><%= link_to "Follow This User", follows_path(:followed_id => @user), :method => :post %></div>
      <% end %>
    </div>
  </div>

  <div id="comic-library">
    <h3>Your Collection</h2>
      <table>
        <th></th>
        <th>Series</th>
        <th>Issue</th>
        <th>Info</th>
        <th></th>

        <!-- Would move the following logic to a model if it wasn't so dependent on the if statement -->
        <% @comics_sorted.each do |c| %>
          <% ownership = c.ownerships.find_by(user_id: params[:id]) %>
          <tr>
              <td>
                <a href="/comics/<%= c.id %>"><img src="<%= c.cover_img_url%>"></a>
              </td>
              <td class="comic-series-td">
                <strong><%= c.series %> ( <%= c.year %> )</strong>

                <% if ownership.favorite == true %>
                <span class="comic-fav"> f </span>
                <% end %>
              </td>
              <td class="comic-issue-td">
                #<%= c.number %> <%= c.title %>
              </td>
              <td class="comic-notes-td">
              <% if ownership.location %>
                  <p><strong>Location: </strong><%= ownership.location %></p>
                <% end %>
                <% if ownership.note %>
                  <p><strong>Notes: </strong><%#= ownership.note %></p>
                <% end %>
                <!-- <%# if loan.out == true %>
                  <%#= loan %>
                  <%# end %> -->
              </td>
              <td class="comic-links">
                <p><a href="/comics/<%= ownership.id %>/loans/new">Loan This</a></p>
                <p><a href="/users/<%= current_user.id %>/ownerships/<%= ownership.id %>/edit">Edit This</a></p>
              </td>
          </tr>
        <% end %>
      </table>
    <div class="add-comic">
      <p class="btn"><%= link_to "Add Comic", new_comic_path %></p>
      <p class="btn"><%= link_to "Find Comic", comics_path %></p>
    </div>
    <div class="loans">
      <h3>On Loan:</h3>
      <% @comics_sorted.each do |c| %>
        <% ownership = c.ownerships.find_by(user_id: params[:id]) %>
        <% @loans = Loan.where(ownership_id: ownership.id) %>
        <% @loans.each do |l| %>
          <% @lendee = User.where(id: l.lendee_id) %>
          <table class="loan-library">
            <th>Comic</th>
            <th>Loaned to</th>
            <th>Date Out</th>
            <th>Date Returned</th>
            <% if l.out == true %>
              <tr>
                <td><%= l.ownership.comic.series %> (<%= l.ownership.comic.year %>) #<%= l.ownership.comic.number %></td>
                <td><%= @lendee.first.username %></td>
                <td><%= l.created_at.to_date %></td>
                <td>Still Out (<a class="comic-links" href="/loans/<%= l.id %>/edit">Update Loan</a>)</td>
              </tr>
              <% else %>
              <tr>
                <td><%= l.ownership.comic.series %> (<%= l.ownership.comic.year %>) #<%= l.ownership.comic.number %></td>
                <td><%= @lendee.first.username %></td>
                <td><%= l.created_at.to_date %></td>
                <td>Still Out</td>
              </tr>
              <% end %>
            </table>
            <!-- <p><%= l.ownership.comic.series %> (<%= l.ownership.comic.year %>) #<%= l.ownership.comic.number %> - loaned to <%= @lendee.first.username %> (<a class="comic-links" href="/loans/<%= l.id %>/edit">Update Loan</a>)</p>

            <p><%= l.ownership.comic.series %> (<%= l.ownership.comic.year %>) #<%= l.ownership.comic.number %> - loaned to <%= @lendee.first.username %> and returned on <%= l.updated_at.to_date %></p>-->

        <% end %>
      <% end %>
    </div>
  </div>



</div>
<%# @loans.each do |l| %>
  <!-- <p>Ownership ID: <%#= l.ownership_id %> Lender ID: <%#= l.lender_id %> Lendee ID:<%#= l.lendee_id %></p> -->
<%# end %>
 <!--  <script>
//   $(document).ready({
//     UserComicsView.lookupComic();
//   })
// </#script> -->
