<h2>Search for a comic:</h2>
<%= form_for(@comic, remote: true) do |f| %>
	<div class="label"><%= f.label :series %></div>
		<div class="input"><%= f.text_field :series %></div>
	<div class="label"><%= f.label :creators %></div>
		<div class="input"><%= f.text_field :creators %></div>
	<div class="submit"><%= f.submit "Find Comics" %></div>
<% end %>

<%= @response %>
<br><br><br>
<input id="comic-series-input" placeholder="search-series"><input id="comic-creator-input" placeholder="search-creator">  <input type="submit" id="update-comic"><br>
<br><br><br>
<h1>User Comics:</h1>
<div>
</div>
<ul class="allcomics">

</ul>
<script>
$( window ).load(function() {
	$.ajax({
		type: 'GET',
		dataType: 'json',
		url: "/comics"
	}).done(function(response){
		console.log(response);
	}).done(function(response){

		for(var i = 0; i < response.length; i++){
			$(".allcomics").append("<li><a href=\"\/comics\/" + (i + 1) + "\">" + response[i].series + "(" + response[i].year + ") #"+ response[i].number + "</a></li>")
		}

	}).fail(function( response ) {
	  alert( "Request failed" );
	})
})
</script>

<script>
$(document).ready(function(){
	var seriesInput = $('#comic_series');
	var creatorsInput = $('#comic_creators')
	$('.submit').submit(function(event){
		event.preventDefault();
		Comic.fetchComics(seriesInput.val(), creatorsInput.val());
	});
})
</script>
