<% if @comic.errors.any? %>
	<% @comic.errors.full_messages.each do |err| %>
			<p><%= err %></p>
		<% end %>
<% end %>


<div id="new-comic-form">
<h2>Add a New Comic</h2>
<%= form_for [@comic] do |f| %>
	<div class="label"><%= f.label :title %></div>
		<div class="input"><%= f.text_field :title %></div>
	<div class="label"><%= f.label :number %></div>
		<div class="input"><%= f.text_field :number %></div>
	<div class="label"><%= f.label "Creator(s)" %></div>
		<div class="input"><%= f.text_field :creators %></div>
	<div class="label"><%= f.label :date_published %></div>
		<div class="input"><%= f.text_field :date_published %></div>
	<div class="label"><%= f.label "Year Series Started" %></div>
		<div class="input"><%= f.text_field :year %></div>
	<div class="label"><%= f.label :series %></div>
		<div class="input"><%= f.text_field :series %></div>
	<div class="label"><%= f.label "Url for Cover Image" %></div>
		<div class="input"><%= f.text_field :cover_img_url %></div>
	<div class="label">Company</div>
	<div class="input"><%= collection_select(:post, :id, Company.all, :id, :name) %></div>
	<div class="submit"><%= f.submit %></div>
<% end %>

</div>
