<img src="<%= @comic.cover_img_url%>">
<h2><%= @comic.series %> (<%= @comic.year %>) #<%= @comic.number %></h2>
<h2>By: <%= @comic.creators %></h2>
<h2><%= @comic.date_published %></h2>
<h3>Loan to a friend</h3>
