<% if @ownership.errors.any? %>
	<ul>
	<% @ownership.errors.full_messages.each do |err| %>
			<li><%= err %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for [current_user, @ownership] do |f| %>
	<%= f.label :location %>
	<%= f.text_area :location %>
	<%= f.label :note %>
	<%= f.text_area :note %>
	<%= label :favorite, "Favorite?" %>
		<%= label :favorite, "Yes"%>
		<%= f.radio_button :favorite, true, :value => true%>
		<%= label :favorite, "No"%>
		<%= f.radio_button :favorite, false, :value => false%>
	<%= f.submit %>
<% end %>
