<div id="loans">
	<h3>Loan History</h3>
	<h4><%= @ownership.comic.series %> (<%= @ownership.comic.year %>) #<%= @ownership.comic.number %></h4>
	<table>
		<th>Lendee</th>
		<th>Out</th>
		<th>In</th>
	<% @loans.each do |l| %>
		<% lendee = User.find(l.lendee_id) %>
		<% if l.out == true %>
			<tr>
				<td><%= lendee.username %></td>
				<td><%= l.created_at.to_date %></td>
				<td>Still Out</td>
			</tr>
		<% else %>
			<tr>

				<td><%= lendee.username %></td>
				<td><%= l.created_at.to_date %></td>
				<td><%= l.updated_at.to_date %></td>
			</tr>
		<% end %>
	<% end %>
	</table>
</div>
