<!DOCTYPE html>
<html>
<head>
  <title>Comic Book Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  @font-face {
    font-family: "star_thingsnormal";
    src: url(<%= asset_path("starthings-webfont.woff")%>);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "quicksandbook";
    src: url(<%= asset_path("quicksand/quicksand_book-webfont.woff")%>);
    font-weight: normal;
    font-style: normal;
  }
/*

  @font-face {
    font-family: 'quicksandbold';
    src: url(/assets/quicksand/quicksand_bold-webfont.eot);
    src: url(/assets/quicksand/quicksand_bold-webfont.eot?#iefix) format("embedded-opentype"),
      url(/assets/quicksand/quicksand_bold-webfont.ttf) format("truetype"),
      url(/assets/quicksand/quicksand_bold-webfont.woff) format("woff"),
      url(/assets/quicksand/quicksand_bold-webfont.svg#icofonts) format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'quicksandbook';
    src: url(/assets/quicksand/quicksand_book-webfont.eot);
    src: url(/assets/quicksand/quicksand_book-webfont.eot?#iefix) format("embedded-opentype"),
      url(/assets/quicksand/quicksand_book-webfont.ttf) format("truetype"),
      url(/assets/quicksand/quicksand_book-webfont.woff) format("woff"),
      url(/assets/quicksand/quicksand_book-webfont.svg#icofonts) format("svg");
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'quicksandbook_oblique';
    src: url(/assets/quicksand/quicksand_book-oblique-webfont.eot);
    src: url(/assets/quicksand/quicksand_book-oblique-webfont.eot?#iefix) format("embedded-opentype"),
      url(/assets/quicksand/quicksand_book-oblique-webfont.ttf) format("truetype"),
      url(/assets/quicksand/quicksand_book-oblique-webfont.woff) format("woff"),
      url(/assets/quicksand/quicksand_book-oblique-webfont.svg#icofonts) format("svg");
    font-weight: normal;
    font-style: normal;
  } */
  </style>
</head>
<body>
  <header>
    <h1><a href="/">Comic Book Library</a></h1>
    <div id="sign-in">
      <% if signed_in? %>
        <p><%= link_to current_user.username, current_user %></p>
        <p class="signout"><%= link_to "Sign Out", signout_path, method: :delete %></p>
      <% else %>
<div id="login" style="display:none;">
  <%= render "shared/login" %>
  <p class="signup"><a href="/signup">Sign Up</a></p>
</div>
        <p><a href="#login" rel="modal:open">Signup/Login</a></p>
      <% end %>
    </div>
  </header>
  <% if flash[:error] || flash[:notice] %>
    <p class="flash"><%= flash[:error] %></p>
    <p class="flash"><%= flash[:notice] %></p>
  <% end %>
<%= yield %>

</body>
</html>
