<!DOCTYPE html>
<html>
<head>
  <title>Comic Book Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><a href="/">Comic Book Library</a></h1>
    <div id="sign-in">
      <% if signed_in? %>
        <p><%= link_to current_user.username, current_user %></p>
        <p class="signout"><%= link_to "Sign Out", signout_path, method: :delete %></p>
      <% else %>
        <div id="login" style="display:none;">
          <p><a href="/signup">Sign Up</a></p>
          <%= render "shared/login" %>
        </div>
        <!-- Link to open the modal -->
        <p><a href="#login" rel="modal:open">Login</a></p>
      <% end %>
    </div>
  </header>
  <% if flash[:error] || flash[:notice] %>
    <p class="flash"><%= flash[:error] %></p>
    <p class="flash"><%= flash[:notice] %></p>
  <% end %>
<%= yield %>

</body>
</html>
